body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

header .logo {
    width: 50px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 10px;
}

header a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    flex: 1 1 calc(20% - 20px);  /* Para 5 productos por fila en pantallas grandes */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    max-height: 150px;  /* Ajustar el tamaño máximo de la imagen */
    object-fit: cover;  /* Ajustar la imagen para que encaje en el contenedor */
}

.producto h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.producto p {
    margin: 5px 0;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .producto {
        flex: 1 1 calc(33.333% - 20px);  /* Para 3 productos por fila en pantallas medianas */
    }
}

@media screen and (max-width: 480px) {
    .producto {
        flex: 1 1 calc(50% - 20px);  /* Para 2 productos por fila en pantallas pequeñas */
    }

    header .logo {
        width: 30px;  /* Ajustar el tamaño del logo para pantallas pequeñas */
    }

    .producto h3, .producto p {
        font-size: 0.9em;  /* Ajustar el tamaño del texto para pantallas pequeñas */
    }
}

@media screen and (max-width: 320px) {
    .producto {
        flex: 1 1 calc(100% - 20px);  /* Para 1 producto por fila en pantallas muy pequeñas */
    }
}

